// Place all the styles related to the ExpenseManager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#maindiv{
	background-image:url('bgimg.jpeg');
	background-size: 90% 50%;
	background-repeat:no-repeat;
}
li a.active {
    background-color:#4CAF50;
    color:white;
    float:left;
}
ul {
 list-style-type:none;  
}