// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#maindiv{
	background-image:url('bgimg.jpeg');
	background-size: 90% 50%;
	background-repeat: no-repeat;
}
table, th{
    border: 1px solid black;
    }
   td  {
    border: 1px solid black; 
    text-align:center;
    }
    
   