<p style="font-size:larger;font-weight:bold;text-align:center;color:#B00100;">
<b> Welcome To ExpenseManager </b>
</p>
<br><br/><hr/>
<br><br/><br><br/>
<p style="text-align:center;">
    <%= link_to 'Meal Register', daily_invoices_path, :class => "btn btn-primary" %>
</p>
<p style="text-align:center;">
	<%= link_to 'Lunch Detail', lunch_details_path, :class => "btn btn-primary" %>
</p>
<p style="text-align:center;">
	<%= link_to 'User Creation', users_path, :class => "btn btn-primary" %>
</p>

